.contactUs{
    padding : 5px 20px;
    width : 100px;
    position: fixed;
    bottom : 15px;
    right : 15px;
    background-color: yellow;
    color:blue;
    text-decoration: none;
    border-radius: 5px;
}