.submission{
    width : 70%;
    margin: 30px auto;
    min-height: 800px;
}


.submissionNote{
    margin : 20px 0 !important;
    text-align: justify;
}
.submissionNote1{
    margin : 20px 0 !important;
    text-align: justify;
}
.submissionLink{
    color: blue;
}
@media screen and (max-width:500px) {
    .submission{
        width:96%
    }

    .submissionNote1{
        text-align: start;
    }
}
