.navbar{
    height : 100px;
    box-shadow: 0 0.5px 8px 1px #006699;
}

.upperNavbar{
    background-color: #006699;
    height : 60px;
}

.mits_logo{
    width: 60px;
    height : 58px;
    position: relative;
    left:30px;
    top: 24px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #006699;
}

.ieee_logo{
    background-color: white;
    width: 170px;
    position: relative;
    left:50px;
    top: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 1px #006699;

}

.titleText{
    display: inline;
    color: white;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 2.5rem !important;
    position: relative;
    bottom : 8px;
    left : 70px;
}

.upperNavItemsList{
    float: right;
    width : 700px;
    height : 55px;
    /* margin-right : 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperNavItems{
    margin : 5px 45px 0;
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.2rem;
}

.lowerNavbar{
    height : 40px;
    background-color: #e8f7ff;
}

.lowerNavItemsList{
    float: right;
    width : 570px;
    height : 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerNavItems{
    margin : 7px 40px 0 ;
    padding : 0 10px 3px;
    background-color: #0c72a5;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 5px;
}