.navbar{
    height : 100px;
    box-shadow: 0 0.5px 8px 1px #006699;
}

.upperNavbar{
    background-image:linear-gradient(30deg , #c36800 ,#e17800, #ff8800);
    height : 60px;
    display: grid;
    grid-template-columns: 15% 20% 60%;
    justify-content: center;
}

.mits_logo{
    width: 80px;
    height : 80px;
    margin: 7px 0px 5px 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 1px 1px #b7b7b7;
    border: 5px solid white;
}

.ieee_logo{
    background-color: white;
    width: 170px;
    position: relative;
    left:50px;
    top: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 1px #006699;
}

.titleText{
    color: rgb(0, 0, 254);
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
}

.upperNavItemsList{
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 15px;
}

.upperNavItems{
    color: white;
    font-weight: 350 !important;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.2rem;
    border: 2px solid #1900ff;
    border-radius: 20px;
    width: 150px;
    height: 28px;
    text-align: center;
}

.lowerNavbar{
    height : 40px;
    background-color: #e8f7ff;
}

.lowerNavItemsList{
    float: right;
    width : 570px;
    height : 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerNavItems{
    margin : 7px 40px 0 ;
    text-align: center;
    padding: 0px 10px 3px;
    background-color: #0c72a5;
    font-weight: 350 !important;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 20px;
}