.callForPaper{
    width : 70%;
    margin: 0 auto;
    min-height: 800px;
}

.cfpNote1{
    margin : 20px 0 0;
    text-align: justify;
    line-height: 30px;
    text-indent: 30px;
}
.callForPaper .title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 0;
}

.callForPeperPointsDiv{
    display: flex;
    column-gap: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.callForPeperPointsDiv p{
    line-height: 30px;
}
.callForPeperPointsDiv svg{
   margin-top: 3px;
}

@media screen and (max-width:500px) {
    .callForPaper{
        width: 94%;
    }
}