.BgImgDiv{
    background-color: #5b8397 !important;
}

.homeBgImg{
    width: 100%;
    opacity: 0.4;
}

.cardTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 0 !important;
    margin-bottom: 20px !important;
}

.cardText{
    padding: 0 40px;
    line-height: 25px;
    text-align: justify;
}