
.HomeBgImgDiv {
  background-color: #000000 !important;
  position: relative;
  font-family: Arial;
}

.homeImg{
  width: 100%;
  min-height: 530px;
  height: 90%;
  max-height: 680px;
  opacity: 0.4;
  object-fit: fill;
}


.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  line-height: 70px;
  width : 100%;
}

.cardTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 0 !important;
    margin-bottom: 20px !important;
}

.cardText{
    padding: 0 40px;
    line-height: 25px;
    text-align: justify;
}

.text-block p{
    font-size: 50px;
    font-weight: 600;
    color: white;
    font-family: "Major Mono Display", monospace;
}

.mainLetter{
  font-size: 55px;
  color: #e17800;
}



@media screen and (max-width:550px) {
  .homeImg{
    width: 100%;
    min-height: 400px !important;
  }

  .text-block{
    width : 300px;
  }

  .text-block p{
    font-size:20px;
    line-height: 40px;
  }

  .HomePageCard{
    margin: 0 5px;
  }

  .cardText{
  padding: 0 10px;
  }

  .mainLetter{
    font-size: 25px;
    color: #e17800;
  }
}
