.BgImgDiv{
    background-color: #5b8397 !important;
}

.homeBgImg{
    width: 100%;
    opacity: 0.4;
}

.typewriter{
    position: relative;
    bottom : 600px;
    /* left : 100px; */
    text-align: center;
    /* width : 1000px; */
    margin: 0 auto;
}

.typewriter h1{
    font-size: 3rem;
    color: white;
}
.line_1,
.line_2,
.line_3,
.line_4,
.line_5 {
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  margin: 0.5rem auto;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
}

/* 
.line_1 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__1 6s steps(40, end) 1s 1 normal both,
      animated-cursor__1 900ms steps(40, end) 8;
  }
  
.line_2 {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  
    animation: animated-text__2 5s steps(30, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(10, end) infinite;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
  }
  
  @keyframes animated-cursor__1 {
    from {
      border-right-color: rgba(17, 17, 17, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }
  
  @keyframes animated-cursor__2 {
    from {
      border-right-color: rgba(17, 17, 17, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }
  
  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 14rem;
    }
  }
  
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 49rem;
    }
  }
   */