.impDates {
  box-sizing: border-box;
  max-width: 95%;
  overflow-y: scroll;
  height: 650px;
  background-image: linear-gradient(-120deg, #d49751, #de7700);
  margin: 20px auto;
  position: relative;
  border-radius: 10px;
  padding: 20px 0 0 90px;
}

.impDatesTitle {
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: 280px;
  border: 1px solid rgb(9, 0, 94);
  box-shadow: 0 0 4px 0px rgb(9, 0, 94);
  padding: 10px 20px;
  z-index: 3;
  width: 150px;
  text-align: center;
  display: grid;
  place-items: center;
  height: 70px;
}

.timeLine {
  width: 1200px;
  height: 10px;
  box-shadow: 0 0 2px 1px white;
  background-color: white;
  position: relative;
  top: 295px;
  left: 50px;
}

.pointOfTime {
  /* z-index: 1 !important; */
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-top: -5px;
  box-shadow: 0 0 2px 1px white;
  position: absolute;
}

.pointOfTime1 {
  left: 75px;
}

.pointOfTime2 {
  left: 300px;
}

.pointOfTime3 {
  left: 550px;
}

.pointOfTime4 {
  left: 850px;
}

.pointOfTime5{
  left:1050px;
}

.upTimebar {
  width: 3px;
  height: 130px;
  background-color: #fff;
  box-shadow: 0 0 2px 1px white;
  margin-top: -125px;
  margin-left: 8px;
}

.downTimebar {
  width: 3px;
  height: 130px;
  margin-top: 18px;
  margin-left: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 1px white;
}

h3 {
  color: rgb(9, 0, 94);
}

.date {
  text-align: center;
  padding: 15px 20px;
  border: 1px solid rgb(9, 0, 94);
  box-shadow: 0 0 4px 0px rgb(9, 0, 94);
  position: absolute;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
}

.date1 {
  top: 90px;
  left: 80px;
}

.date2 {
  top: 460px;
  left: 295px;
}

.date3 {
  top: 105px;
  left: 550px;
}

.date4 {
  top: 460px;
  left: 850px;
}
.date5{
  top : 105px;
  left: 1050px;
}

@media screen and (max-width: 500px) {
  .impDates {
    padding: 15px 80px 15px 40px!important;
    max-width: 98%;
  }

  .date1 {
    top: 84px;
    left: 27px;
  }

  .date2 {
    top: 455px;
    left: 244px;
  }

  .date3 {
    top: 100px;
    left: 500px;
  }
  .date4 {
    top: 455px;
    left: 795px;
  }

  .date5{
    left: 990px
  }
}
